@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


:root{
    --cor-pricipal: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terceriaria:#A27B5C;
    --cor-hover: #3F4E4F;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-pricipal);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.navegacao{
    display: flex;
    gap: 80px;

}

.botao-navegacao {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terceriaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terceriaria);
}

.apresentacao {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-conteudo {
    font-size: 2.25rem;
    font-family: var(--font-principal);
}

.para-conteudo {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}
.apresentacao_link{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.botao-link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terceriaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}

.botao-link:hover {
    background-color: var(--cor-hover);
    padding: 3%;
    transition: 0.5s;
}

.apresentacao-img{
    width: 50%;
}

.rodape{
    color: var(--cor-pricipal);
    background-color: var(--cor-terceriaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .navegacao{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo{
        width: auto;
    }
    
}