@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    /* height: 100vh; */
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.navegacao{
    display: flex;
    gap: 80px;

}

.botao-navegacao {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 515px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-conteudo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.para-conteudo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao_link{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.botao-link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.botao-link:hover {
    background-color: #272727;
    padding: 3%;
    transition: 0.5s;
}

.rodape{
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}