@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');


:root{
    --cor-pricipal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terceriaria:#22D4FD;
    --cor-hover: #272727;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-pricipal);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.navegacao{
    display: flex;
    gap: 80px;

}

.botao-navegacao {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terceriaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terceriaria);
}

.apresentacao {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 515px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-conteudo {
    font-size: 36px;
    font-family: var(--font-principal);
}

.para-conteudo {
    font-size: 24px;
    font-family: var(--font-secundaria);
}
.apresentacao_link{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.botao-link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terceriaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}

.botao-link:hover {
    background-color: var(--cor-hover);
    padding: 3%;
    transition: 0.5s;
}

.rodape{
    color: var(--cor-pricipal);
    background-color: var(--cor-terceriaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
}